body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius:50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.user-table {
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px; /* Add padding for centering */
}

th, td {
  border: 1px solid white;
  padding: 8px;
}

th {
  background-color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
  margin: 0 auto; 
}